<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<!-- Load stylesheets -->
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<!-- // Load stylesheets -->	

</head>
<body>

	<div id="wrapper">
		<div id="wrappertop"></div>
                <form>
		<div id="wrappermiddle_a">
                
			<h2>SecureCube</h2>
                        <div id="center">
                        	<h6>Waiting for phone's response...</h6>
                        	<img id="loading" src= {{ url_for('static', filename = 'images/loading3.gif') }} alt="">
			

		        </div>
               </div>
		<div id="wrapperbottom"></div>

		<!-- Need to make this logout button matching and nice -->

		<a href='/logout'>Logout</a>
				
		<!--<div id="powered">
		<p>Powered by <a href="http://www.premiumfreebies.eu">Premiumfreebies Control Panel</a></p>
		</div>-->
	</div>

</body>
</html>
